

::-webkit-scrollbar{
    width: 20px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px #175082;
    border-radius:  10px;

}

::-webkit-scrollbar-thumb{
    background:  #175082;
    border-radius: 10px;
}



